In [4]:
library(tidyverse)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.3.2     v purrr   0.3.4
v tibble  3.0.4     v dplyr   1.0.2
v tidyr   1.1.2     v stringr 1.4.0
v readr   1.4.0     v forcats 0.5.0

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

# Checking common mistakes with read csv

In some cases we must need to specify in which row the csv initiate

In [5]:
read_csv("../datasets/Kumpula-June-2016-w-metadata.txt")

-- Column specification ------------------------------------------------------------------------------------------------
cols(
  `# Data file contents: Daily temperatures (mean` = col_character(),
  min = col_character(),
  `max) for Kumpula` = col_character(),
  Helsinki = col_character()
)


Warning message:
"6 parsing failures.
row col  expected    actual                                           file
  1  -- 4 columns 2 columns '../datasets/Kumpula-June-2016-w-metadata.txt'
  2  -- 4 columns 1 columns '../datasets/Kumpula-June-2016-w-metadata.txt'
  3  -- 4 columns 2 columns '../datasets/Kumpula-June-2016-w-metadata.txt'
  4  -- 4 columns 1 columns '../datasets/Kumpula-June-2016-w-metadata.txt'
  5  -- 4 columns 1 columns '../datasets/Kumpula-June-2016-w-metadata.txt'
... ... ......... ......... ..............................................
See problems(...) for more details.
"

   # Data file contents: Daily temperatures (mean
1  #                     for June 1-30
2  # Data source: https://www.ncdc.noaa.gov/cdo-web/search?datasetid=GHCND
3  # Data processing: Extracted temperatures from raw data file
4  #                  comma-separated format
5  #
6  # David Whipp - 02.10.2017
7  YEARMODA
8  20160601
9  20160602
10 20160603
11 20160604
12 20160605
13 20160606
14 20160607
15 20160608
16 20160609
17 20160610
18 20160611
19 20160612
20 20160613
21 20160614
22 20160615
23 20160616
24 20160617
25 20160618
26 20160619
27 20160620
28 20160621
29 20160622
30 20160623
31 20160624
32 20160625
33 20160626
34 20160627
35 20160628
36 20160629
37 20160630
   min          max) for Kumpula Helsinki
1  2016         NA               NA
2  NA           NA               NA
3  converted to NA               NA
4  NA           NA               NA
5  NA           NA               NA
6  NA           NA               NA
7  TEMP         MAX              MIN
8  65.5         73.6             54.7
9  65.8         80.8             55.0
10 68.4         77.9             55.6
11 57.5         70.9             47.3
12 51.4         58.3             43.2
13 52.2         59.7             42.8
14 56.9         65.1             45.9
15 54.2         60.4             47.5
16 49.4         54.1             45.7
17 49.5         55.9             43.0
18 54.0         62.1             41.7
19 55.4         64.2             46.0
20 58.3         68.2             47.3
21 59.7         67.8             47.8
22 63.4         70.3             49.3
23 57.8         67.5             55.6
24 60.4         70.7             55.9
25 57.3         62.8             54.0
26 56.3         59.2             54.1
27 59.3         69.1             52.2
28 62.6         71.4             50.4
29 61.7         70.2             55.4
30 60.9         67.1             54.9
31 61.1         68.9             56.7
32 65.7         75.4             57.9
33 69.6         77.7             60.3
34 60.7         70.0             57.6
35 65.4         73.0             55.8
36 65.8         73.2             59.7
37 65.7         72.7             59.2

In [7]:
data <- read_csv("../datasets/Kumpula-June-2016-w-metadata.txt", skip = 8)
data

-- Column specification ------------------------------------------------------------------------------------------------
cols(
  YEARMODA = col_double(),
  TEMP = col_double(),
  MAX = col_double(),
  MIN = col_double()
)

   YEARMODA TEMP MAX  MIN
1  20160601 65.5 73.6 54.7
2  20160602 65.8 80.8 55.0
3  20160603 68.4 77.9 55.6
4  20160604 57.5 70.9 47.3
5  20160605 51.4 58.3 43.2
6  20160606 52.2 59.7 42.8
7  20160607 56.9 65.1 45.9
8  20160608 54.2 60.4 47.5
9  20160609 49.4 54.1 45.7
10 20160610 49.5 55.9 43.0
11 20160611 54.0 62.1 41.7
12 20160612 55.4 64.2 46.0
13 20160613 58.3 68.2 47.3
14 20160614 59.7 67.8 47.8
15 20160615 63.4 70.3 49.3
16 20160616 57.8 67.5 55.6
17 20160617 60.4 70.7 55.9
18 20160618 57.3 62.8 54.0
19 20160619 56.3 59.2 54.1
20 20160620 59.3 69.1 52.2
21 20160621 62.6 71.4 50.4
22 20160622 61.7 70.2 55.4
23 20160623 60.9 67.1 54.9
24 20160624 61.1 68.9 56.7
25 20160625 65.7 75.4 57.9
26 20160626 69.6 77.7 60.3
27 20160627 60.7 70.0 57.6
28 20160628 65.4 73.0 55.8
29 20160629 65.8 73.2 59.7
30 20160630 65.7 72.7 59.2

### Column names

In [10]:
data %>%
names()

[1] "YEARMODA" "TEMP"     "MAX"      "MIN"

### Row names

In [12]:
data %>%
row.names()

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10" "11" "12" "13" "14" "15"
[16] "16" "17" "18" "19" "20" "21" "22" "23" "24" "25" "26" "27" "28" "29" "30"

### Number of columns

In [14]:
length(data)

[1] 4

### Number of Rows

In [16]:
nrow(data)

[1] 30

### Dataframe shape or dimensions

In [17]:
dim(data)

[1] 30  4

### data type of each column

In [18]:
str(data)

tibble [30 x 4] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ YEARMODA: num [1:30] 20160601 20160602 20160603 20160604 20160605 ...
 $ TEMP    : num [1:30] 65.5 65.8 68.4 57.5 51.4 52.2 56.9 54.2 49.4 49.5 ...
 $ MAX     : num [1:30] 73.6 80.8 77.9 70.9 58.3 59.7 65.1 60.4 54.1 55.9 ...
 $ MIN     : num [1:30] 54.7 55 55.6 47.3 43.2 42.8 45.9 47.5 45.7 43 ...
 - attr(*, "spec")=
  .. cols(
  ..   YEARMODA = col_double(),
  ..   TEMP = col_double(),
  ..   MAX = col_double(),
  ..   MIN = col_double()
  .. )

### printing specific column

In [19]:
data$TEMP

 [1] 65.5 65.8 68.4 57.5 51.4 52.2 56.9 54.2 49.4 49.5 54.0 55.4 58.3 59.7 63.4
[16] 57.8 60.4 57.3 56.3 59.3 62.6 61.7 60.9 61.1 65.7 69.6 60.7 65.4 65.8 65.7

### Adding new column

In [23]:
data$MaxMin = data$MAX * data$MIN
data

   YEARMODA TEMP MAX  MIN  MaxMin
1  20160601 65.5 73.6 54.7 4025.92
2  20160602 65.8 80.8 55.0 4444.00
3  20160603 68.4 77.9 55.6 4331.24
4  20160604 57.5 70.9 47.3 3353.57
5  20160605 51.4 58.3 43.2 2518.56
6  20160606 52.2 59.7 42.8 2555.16
7  20160607 56.9 65.1 45.9 2988.09
8  20160608 54.2 60.4 47.5 2869.00
9  20160609 49.4 54.1 45.7 2472.37
10 20160610 49.5 55.9 43.0 2403.70
11 20160611 54.0 62.1 41.7 2589.57
12 20160612 55.4 64.2 46.0 2953.20
13 20160613 58.3 68.2 47.3 3225.86
14 20160614 59.7 67.8 47.8 3240.84
15 20160615 63.4 70.3 49.3 3465.79
16 20160616 57.8 67.5 55.6 3753.00
17 20160617 60.4 70.7 55.9 3952.13
18 20160618 57.3 62.8 54.0 3391.20
19 20160619 56.3 59.2 54.1 3202.72
20 20160620 59.3 69.1 52.2 3607.02
21 20160621 62.6 71.4 50.4 3598.56
22 20160622 61.7 70.2 55.4 3889.08
23 20160623 60.9 67.1 54.9 3683.79
24 20160624 61.1 68.9 56.7 3906.63
25 20160625 65.7 75.4 57.9 4365.66
26 20160626 69.6 77.7 60.3 4685.31
27 20160627 60.7 70.0 57.6 4032.00
28 20160628 65.4 73.0 55.8 4073.40
29 20160629 65.8 73.2 59.7 4370.04
30 20160630 65.7 72.7 59.2 4303.84

### Transforming data type of a column

In [28]:
data$MAX = as.character(data$MAX)
data$MIN = as.integer(data$MIN)
data

   YEARMODA TEMP MAX  MIN MaxMin
1  20160601 65.5 73.6 54  4025.92
2  20160602 65.8 80.8 55  4444.00
3  20160603 68.4 77.9 55  4331.24
4  20160604 57.5 70.9 47  3353.57
5  20160605 51.4 58.3 43  2518.56
6  20160606 52.2 59.7 42  2555.16
7  20160607 56.9 65.1 45  2988.09
8  20160608 54.2 60.4 47  2869.00
9  20160609 49.4 54.1 45  2472.37
10 20160610 49.5 55.9 43  2403.70
11 20160611 54.0 62.1 41  2589.57
12 20160612 55.4 64.2 46  2953.20
13 20160613 58.3 68.2 47  3225.86
14 20160614 59.7 67.8 47  3240.84
15 20160615 63.4 70.3 49  3465.79
16 20160616 57.8 67.5 55  3753.00
17 20160617 60.4 70.7 55  3952.13
18 20160618 57.3 62.8 54  3391.20
19 20160619 56.3 59.2 54  3202.72
20 20160620 59.3 69.1 52  3607.02
21 20160621 62.6 71.4 50  3598.56
22 20160622 61.7 70.2 55  3889.08
23 20160623 60.9 67.1 54  3683.79
24 20160624 61.1 68.9 56  3906.63
25 20160625 65.7 75.4 57  4365.66
26 20160626 69.6 77.7 60  4685.31
27 20160627 60.7 70   57  4032.00
28 20160628 65.4 73   55  4073.40
29 20160629 65.8 73.2 59  4370.04
30 20160630 65.7 72.7 59  4303.84

### Getting some statistical insight

In [29]:
mean(data$TEMP)

[1] 59.73

In [30]:
min(data$TEMP)

[1] 49.4

In [31]:
max(data$TEMP)

[1] 69.6

In [33]:
sd(data$TEMP)

[1] 5.475472

#### Statistical data for each column

In [34]:
summary(data)

    YEARMODA             TEMP           MAX                 MIN
 Min.   :20160601   Min.   :49.40   Length:30          Min.   :41.00
 1st Qu.:20160608   1st Qu.:56.45   Class :character   1st Qu.:47.00
 Median :20160616   Median :60.05   Mode  :character   Median :54.00
 Mean   :20160616   Mean   :59.73                      Mean   :51.27
 3rd Qu.:20160623   3rd Qu.:64.90                      3rd Qu.:55.00
 Max.   :20160630   Max.   :69.60                      Max.   :60.00
     MaxMin
 Min.   :2404
 1st Qu.:3042
 Median :3603
 Mean   :3542
 3rd Qu.:4030
 Max.   :4685