# Data Agreggation

In [17]:
library(tidyverse)
library(dplyr)
library(comprehenr)

In [2]:
data_soccer <- read_csv("../datasets/results.csv")
data_copy <- data.frame(data_soccer)
head(data_soccer)

-- Column specification ------------------------------------------------------------------------------------------------
cols(
  date = col_date(format = ""),
  home_team = col_character(),
  away_team = col_character(),
  home_score = col_double(),
  away_score = col_double(),
  tournament = col_character(),
  city = col_character(),
  country = col_character(),
  neutral = col_logical()
)

  date       home_team away_team home_score away_score tournament city
1 1872-11-30 Scotland  England   0          0          Friendly   Glasgow
2 1873-03-08 England   Scotland  4          2          Friendly   London
3 1874-03-07 Scotland  England   2          1          Friendly   Glasgow
4 1875-03-06 England   Scotland  2          2          Friendly   London
5 1876-03-04 Scotland  England   3          0          Friendly   Glasgow
6 1876-03-25 Scotland  Wales     4          0          Friendly   Glasgow
  country  neutral
1 Scotland FALSE
2 England  FALSE
3 Scotland FALSE
4 England  FALSE
5 Scotland FALSE
6 Scotland FALSE

##### General info of the dataset

In [3]:
skimr::skim(data_soccer)

-- Data Summary ------------------------
                           Values
Name                       data_soccer
Number of rows             40945
Number of columns          9
_______________________
Column type frequency:
  character                5
  Date                     1
  logical                  1
  numeric                  2
________________________
Group variables            None

-- Variable type: character ----------------------------------------------------
# A tibble: 5 x 8
  skim_variable n_missing complete_rate   min   max empty n_unique whitespace
* <chr>             <int>         <dbl> <int> <int> <int>    <int>      <int>
1 home_team             0             1     4    32     0      311          0
2 away_team             0             1     4    32     0      307          0
3 tournament            0             1     6    42     0      109          0
4 city                  0             1     2    28     0     1965          0
5 country               0             1     4    32     0      266          0

-- Variable type: Date ---------------------------------------------------------
# A tibble: 1 x 7
  skim_variable n_missing complete_rate min        max        median
* <chr>             <int>         <dbl> <date>     <date>     <date>
1 date                  0             1 1872-11-30 2019-09-30 1997-05-24
  n_unique
*    <int>
1    15133

-- Variable type: logical ------------------------------------------------------
# A tibble: 1 x 5
  skim_variable n_missing complete_rate  mean count
* <chr>             <int>         <dbl> <dbl> <chr>
1 neutral               0             1 0.249 FAL: 30756, TRU: 10189

-- Variable type: numeric ------------------------------------------------------
# A tibble: 2 x 11
  skim_variable n_missing complete_rate  mean    sd    p0   p25   p50   p75
* <chr>             <int>         <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl>
1 home_score            0             1  1.75  1.75     0     1     1     2
2 away_score            0             1  1.19  1.41     0     0     1     2
   p100 hist
* <dbl> <chr>
1    31 <U+2587><U+2581><U+2581><U+2581><U+2581>
2    21 <U+2587><U+2581><U+2581><U+2581><U+2581>

In [4]:
summary(data_soccer)

      date             home_team          away_team           home_score
 Min.   :1872-11-30   Length:40945       Length:40945       Min.   : 0.000
 1st Qu.:1977-09-14   Class :character   Class :character   1st Qu.: 1.000
 Median :1997-05-24   Mode  :character   Mode  :character   Median : 1.000
 Mean   :1990-07-17                                         Mean   : 1.745
 3rd Qu.:2008-10-11                                         3rd Qu.: 2.000
 Max.   :2019-09-30                                         Max.   :31.000
   away_score      tournament            city             country
 Min.   : 0.000   Length:40945       Length:40945       Length:40945
 1st Qu.: 0.000   Class :character   Class :character   Class :character
 Median : 1.000   Mode  :character   Mode  :character   Mode  :character
 Mean   : 1.189
 3rd Qu.: 2.000
 Max.   :21.000
  neutral
 Mode :logical
 FALSE:30756
 TRUE :10189

Checking NA values per column

In [5]:
colSums(is.na(data_soccer))

      date  home_team  away_team home_score away_score tournament       city
         0          0          0          0          0          0          0
   country    neutral
         0          0

Making a new colunm for total number of goals

In [6]:
data_soccer$total_goals <- data_soccer$home_score + data_soccer$away_score
head(data_soccer)

  date       home_team away_team home_score away_score tournament city
1 1872-11-30 Scotland  England   0          0          Friendly   Glasgow
2 1873-03-08 England   Scotland  4          2          Friendly   London
3 1874-03-07 Scotland  England   2          1          Friendly   Glasgow
4 1875-03-06 England   Scotland  2          2          Friendly   London
5 1876-03-04 Scotland  England   3          0          Friendly   Glasgow
6 1876-03-25 Scotland  Wales     4          0          Friendly   Glasgow
  country  neutral total_goals
1 Scotland FALSE   0
2 England  FALSE   6
3 Scotland FALSE   3
4 England  FALSE   4
5 Scotland FALSE   3
6 Scotland FALSE   4

## Principal Aggregations

Aggregation Description

* count() -> Total number of items
* first(), last() -> First and last item
* mean(), median() -> Mean and median
* min(), max() -> Minimum and maximum
* sd(), var() -> Standard deviation and variance
* mad() -> Mean absolute deviation
* prod() -> Product of all items
* sum() -> Sum of all items

#### Count

In [7]:
count(data_soccer)

  n
1 40945

#### MIN and MAX

In [8]:
print(paste0("maximum number of goals: ",max(data_soccer$total_goals)))
print(paste0("minimum number of goals: ",min(data_soccer$total_goals)))

[1] "maximum number of goals: 31"
[1] "minimum number of goals: 0"

#### SD and VAR

In [9]:
print(paste0("Standar deviation of total_goals column: ",sd(data_soccer$total_goals)))
print(paste0("Variance of total_goals column: ",var(data_soccer$total_goals)))

[1] "Standar deviation of total_goals column: 2.09172339721926"
[1] "Variance of total_goals column: 4.37530677047447"

#### MAD

In [10]:
print(paste0("Mean absolute deviarion: ",mad(data_soccer$total_goals)))

[1] "Mean absolute deviarion: 1.4826"

#### PROD

In [11]:
print(paste0("Total product of total_goals column: ",prod(data_soccer$total_goals)))

[1] "Total product of total_goals column: 0"

#### SUM

In [12]:
print(paste0("Total sum of total_goals column: ",sum(data_soccer$total_goals)))

[1] "Total sum of total_goals column: 120132"

## Group_by
This function is used to split the data into groups based on some criteria. The abstract definition of grouping is to provide a mapping of labels to group names.

Also, operations can be done based on these aggregations such as the calculation of sums, means, typical deviations, etc.

Simple grouping

In [13]:
data_soccer_simple_group_mean <- data_soccer %>%
                                    select_if(is.numeric) %>%
                                    aggregate(list(data_soccer$total_goals), mean)
data_soccer_simple_group_mean %>%
    head()

  Group.1 home_score away_score total_goals
1 0       0.0000000  0.0000000  0
2 1       0.5943947  0.4056053  1
3 2       1.1511971  0.8488029  2
4 3       1.7549373  1.2450627  3
5 4       2.3406458  1.6593542  4
6 5       2.9885518  2.0114482  5

Multiple grouping

In [15]:
data_soccer_multiple_group_mean <- data_soccer %>%
                                    group_by(country, total_goals) %>%
                                    summarise_at(vars("home_score", "away_score"), mean)
data_soccer_multiple_group_mean %>%
    head()

  country     total_goals home_score away_score
1 Afghanistan 1           0.5000000  0.5000000
2 Afghanistan 2           0.6666667  1.3333333
3 Afghanistan 3           1.5000000  1.5000000
4 Afghanistan 4           1.0000000  3.0000000
5 Albania     0           0.0000000  0.0000000
6 Albania     1           0.4705882  0.5294118

## lapply

In [32]:
tipo_de_juego <- to_vec(for( i in 0:2) "pocos_goles")
tipo_de_juego <- c(tipo_de_juego, to_vec(for( i in 3:6) "normal"))
tipo_de_juego <- c(tipo_de_juego, to_vec(for( i in 7:10) "mas_de_lo_normal"))
tipo_de_juego <- c(tipo_de_juego, to_vec(for( i in 11:40) "muchos_goles"))

In [35]:
tipo_juego <- function(x) tipo_de_juego[x]

In [40]:
data_soccer$Resultados <- (data_soccer$total_goals + 1) %>%
                            lapply( tipo_juego)
data_soccer %>%
    head()

  date       home_team away_team home_score away_score tournament city
1 1872-11-30 Scotland  England   0          0          Friendly   Glasgow
2 1873-03-08 England   Scotland  4          2          Friendly   London
3 1874-03-07 Scotland  England   2          1          Friendly   Glasgow
4 1875-03-06 England   Scotland  2          2          Friendly   London
5 1876-03-04 Scotland  England   3          0          Friendly   Glasgow
6 1876-03-25 Scotland  Wales     4          0          Friendly   Glasgow
  country  neutral total_goals Resultados
1 Scotland FALSE   0           pocos_goles
2 England  FALSE   6           normal
3 Scotland FALSE   3           normal
4 England  FALSE   4           normal
5 Scotland FALSE   3           normal
6 Scotland FALSE   4           normal